* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: hsl(216, 55%, 11%);
  font-family: 'Outfit';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

/* Card Part */
.card {
  border-radius: 16px;
  background-color: hsl(216, 50%, 16%);
  max-width: 375px;
  padding: 20px;
  box-shadow: 0px 35px 10px 20px hsl(217, 57%, 10%),
    0px 30px 0px 40px hsl(218, 57%, 11%);
}

.image-area:hover img.view {
  opacity: .5;
}

.image-area {
  position: relative;
}

.hover-view {
  display: grid;
  place-content: center;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: 400ms ease;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.image-area:hover .hover-view {
  opacity: 1;
  background-color: hsla(178, 100%, 50%, 0.50);
  cursor: pointer;
}

/* NFT-Descrition/Price and days left */
.nft-info {
  display: flex;
  justify-content: space-between;
}

/* .price::before {
  content: url(/images/icon-ethereum.svg);
}

.time-left::before {
  content: url(/images/icon-clock.svg);
} */


.price {
  color: hsl(178, 100%, 50%);
}

.NFT-creator {
  display: flex;
  align-items: center;
}

.NFT-creator img {
  max-width: 35px;
  max-height: 35px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.NFT-creator h2 {
  margin: 0px 0px unset 0px;
  font-size: 1rem;
}

.NFT-creator a {
  color: hsl(0, 0%, 100%);
}

/* Components */
.alignment {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.image-area img.view {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.NFT-description p,
.time-left,
.NFT-creator h2 {
  color: hsl(215, 51%, 70%);
}

#line {
  margin: 15px 0px;
  color: hsl(215, 32%, 27%);
}

.text-hover:hover {
  color: hsl(178, 100%, 50%);
  transition: 300ms ease-in-out;
  cursor: pointer;
}